DAM/Marc-Ricart-práctica2-UT4/Ejercicio 3.dtd

<!ELEMENT rss (channel)>
    <!ATTLIST rss version (0.91 | 1.0 | 2.0) #REQUIRED>
<!ELEMENT channel (title, link, description, language?, image?, item+)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT link (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT language (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT image (title, url?, link, width?, height?)>
<!ELEMENT item (title, link, description)>